{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="py-2 text-center">
        <span class="fs-3 fw-semibold">PMP Platform</span><br>
        <span class="fs-5"></span><br>
        <span class="fs-5">The platform was designed to help you organize project processes of Your team.</span><br>
        <span class="fs-5">It allows you to measure the execution time of various tasks assigned to projects.</span><br>
        <span class="fs-5"></span><br>
        <span class="fs-5">The way it works is very simple.</span><br>
        <span class="fs-5">The team can be composed of any number of employees</span><br>
        <span class="fs-5">Each team member can simultaneously work on different tasks from different projects.</span><br>
        <span class="fs-5">Team members report time spent on each project's tasks.</span><br>
        <span class="fs-5">The growing database offers great opportunities for project managers.</span><br>
        <span class="fs-5"></span><br>
        <span class="fs-5">Below are examples of helpful reports that can be generated.</span><br>
        <span class="fs-5">*** The total time spent on each project by all team members</span><br>
        <span class="fs-5">*** The total time spent on each project task by all team members</span><br>
        <span class="fs-5">*** Detailed report of selected task</span><br>
        <span class="fs-5">*** Unreported time by team members</span><br>
        <span class="fs-5"></span><br>
        <span class="fs-5">The platform gives you the ability to generate virtually any report that can be useful for your company.</span><br>
        <span class="fs-5">It allows for ongoing control of the design process and proper cost estimation for future projects.</span><br>
        <span class="fs-5"></span><br>
    </div>
{% endblock %}