{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="py-2 text-center">
        <span class="fs-3"></span><br>
        <span class="fs-3">"TIME IS THE SCARCEST RESOURCE AND</span><br>
        <span class="fs-3">UNLESS IT IS MANAGED NOTHING ELSE CAN</span><br>
        <span class="fs-3">BE MANAGED"</span><br>
        <span class="fs-4">- PETER DRUCKER -</span><br>
        <img src="{% static 'hourglass_pic.png' %}" class="py-4 img-fluid" style="">
    </div>
{% endblock %}
