{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="py-2 text-lg-start">
    <span class="fs-3 fw-semibold"></span>Are you sure you want to log out? <br>

</div>

<form action="" method="post">
    {% csrf_token %}
    {{ form.choice.as_hidden }}
    <input class="btn btn-outline-primary" type="submit" value="Log out">
</form>

<div class="py-4 text-lg-start">
    <span class="fs-3 fw-semibold"></span>Back to main page? <br>
    <a href="{% url 'main' %}">
        <button type="button" class="btn btn-outline-primary">Main</button>
    </a>
</div>


{% endblock %}