{% extends "base.html" %}

{% load static %}

{% block content %}
          <div class="py-1">
            <span class="fs-5 py-2">Total projects hours</span>
          </div>

          <div>
            <table class="table">

              <thead>
                <tr>
                    <th scope="col">Project name</th>
                    <th scope="col">Total hours</th>
                </tr>
              </thead>

              <tbody class="table-group-divider">

              {% for project in list_of_projects %}
                <tr>
                    <th scope="row">{{project.0}}</th>
                    <td>{{project.1}}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>

          <div class="p-1">
            <button type="button" class="btn btn-outline-primary">
            <a href="{% url 'total_projects_time_download_csv' %}">csv download</a>
            </button>

            <button type="button" class="btn btn-outline-primary">
            <a href="{% url 'total_projects_time_download_xlsx' %}">xlsx download</a>
            </button>
          </div>


{% endblock %}