{% extends "base.html" %}

{% load static %}

{% block content %}
          <div class="py-1">
            <span class="fs-5 fw-semibold">Unreported days for user: {{user}}</span>
          </div>

          <div>
            <table class="table">

              <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Day name</th>
                    <th scope="col">Comment</th>
                </tr>
              </thead>

              <tbody class="table-group-divider">

              {% for day in list_of_unreported_days %}
                <tr>
                    <th scope="row">{{day.0}}</th>
                    <th scope="row">{{day.1 | date:"l" }}</th>
                    {% if day.1.weekday == 5 %}
                        <th scope="row">Saturday</th>
                    {% elif day.1.weekday == 6 %}
                        <th scope="row">Sunday</th>
                    {% else %}
                        <th scope="row">unreported</th>
                    {% endif %}
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
          <div class="p-1">
            <button type="button" class="btn btn-outline-primary">
            <a href="{% url 'unreported_days_download_csv' user_id start_time_int end_time_int %}">csv download</a>
            </button>
          </div>
{% endblock %}